
body {
    background: rgb(26, 25, 31) ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}
a {
    display:inline-block;
    text-decoration: none;
    border:1px solid white;
    margin:20px 5px 0px;
    padding:5px 10px;
    color:white;
}
header {
    margin:25px 0px;
    font-size:20px;
    border:3px double white;
    padding:20px 5px;
}
footer {
    margin:100px 0px 10px;
}
#backtop {
    text-align:center;
}
section {
    margin: 5px 100px 5px;
    clear:both;
}
article {
    margin: 0px 0px 75px;
    width:500px;
    padding: 5px;
    border: 1px solid white;
}
img {
    width:450px;
}
.image {
    width:450px;
    height:450px;
    margin: 0px 75px 75px 0px;
    padding: 5px;
    border: 1px solid white;
    position:absolute;
    
}
.imagecontainer {
    position: relative;
}
@media screen and (orientation:portrait){
    * {
        color:hotpink;
    }
    body{
        font-size:3em;
    }
    a{
        font-size:3em;
    }
    section{
        width:100%;
        float:center;
    }
    article{
        width:75%;
    }
}